<div class="contenedor">


    <div class="navbar">
        <div class="izquierda-derecha">
            <div class="derecha">
                <div id="menu">
                    <input type="checkbox" id="check">
                    <label for="check" class="checkbtn">
                    </label>
                    <ul>
                        <li><a routerLink="/">Compras</a></li>
                        <li><a class="selected" routerLink="/viajes">Viajes</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="contenido colunma">
        <div class="formularioContacto2">
            <div class="texto">
                <h3>- Gana Dinero a tu viaje en Estados Unidos</h3>
                <h3>Compra los producos que quieren nuestros clientes y gana asombrosas comisiones</h3>
            </div>
            <div class="formulario">
                <div class="datos">
                    <h2>Formulario</h2>
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Telefono">
                    <input type="text" placeholder="Fecha de viaje">
                    <input type="text" placeholder="Viaje desde Estados Unidos">
                    <input type="text" placeholder="A">
                </div>

            </div>

        </div>


        <div class="divTitulo3">

            <div class="tarjetasPlanes">

                <div class="personal">
                    <h3>Pago Garantizado</h3>
                </div>

                <div class="personal">
                    <h3>Ingreso en 24 horas de haber realizado la entrega</h3>
                </div>

                <div class="personal">
                    <h3>Sin comisiones, Solo Ganacias</h3>
                </div>
            </div>
        </div>

        <div class="franja2">
            <h2>Como ganar dinero en este viaje</h2>
        </div>
        <div class="cuadros">
            <div class="cuadro">

            </div>
            <div class="cuadro2">
                <h3>Registra Tu Viaje</h3>

            </div>
            <div class="cuadro2 cuarto">
                <h3>Compra el Producto Indicado</h3>

            </div>
            <div class="cuadro tercero">

            </div>
            <div class="cuadro">

            </div>
            <div class="cuadro2">
                <h3>Entrega el producto y recibe el pago de lo que compraste mas tu comision</h3>

            </div>
        </div>



        <div class="divSlider">
            <h2>Opiniones de Nuestros Clientes</h2>
            <div id="slider">
                <input type="radio" name="slider" id="slide1" checked>
                <input type="radio" name="slider" id="slide2">
                <input type="radio" name="slider" id="slide3">
                <input type="radio" name="slider" id="slide4">
                <div id="slides">
                    <div id="overflow">
                        <div class="inner">
                            <div class="slide slide_1">
                                <div class="slide-content">
                                    <img class="img-responsive" src="assets/img/user.png">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolores unde
                                        ratione deleniti vel excepturi maiores illum enim possimus ipsa, placeat
                                        molestiae, non voluptate saepe. Error esse suscipit vel nihil!</p>
                                    <p class="autor">Lorem ipsum
                                    </p>
                                    <p class="autor">Lorem ipsum</p>
                                </div>
                            </div>
                            <div class="slide slide_2">
                                <div class="slide-content">
                                    <img class="img-responsive" src="assets/img/user.png">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolores unde
                                        ratione deleniti vel excepturi maiores illum enim possimus ipsa, placeat
                                        molestiae, non voluptate saepe. Error esse suscipit vel nihil!</p>
                                    <p class="autor">Lorem ipsum
                                    </p>
                                    <p class="autor">Lorem ipsum</p>
                                </div>
                            </div>
                            <div class="slide slide_3">
                                <div class="slide-content">
                                    <img class="img-responsive" src="assets/img/user.png">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolores unde
                                        ratione deleniti vel excepturi maiores illum enim possimus ipsa, placeat
                                        molestiae, non voluptate saepe. Error esse suscipit vel nihil!</p>
                                    <p class="autor">Lorem ipsum
                                    </p>
                                    <p class="autor">Lorem ipsum</p>
                                </div>
                            </div>
                            <div class="slide slide_4">
                                <div class="slide-content">
                                    <img class="img-responsive" src="assets/img/user.png">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolores unde
                                        ratione deleniti vel excepturi maiores illum enim possimus ipsa, placeat
                                        molestiae, non voluptate saepe. Error esse suscipit vel nihil!</p>
                                    <p class="autor">Lorem ipsum
                                    </p>
                                    <p class="autor">Lorem ipsum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="controls">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                </div>
                <div id="bullets">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                </div>
            </div>
        </div>










        <div class="divParrafo">
            <div class="titulo precio">
                <h1>Preguntas Frecuentes</h1>
            </div>
            <div class="parrafo">
                <div id="menu">
                    <ul>
                        <li class="selected"><a>Generalidades</a></li>
                    </ul>
                </div>
            </div>


            <div class="preguntas">
                <div class="listaPreguntas">
                    <div id="menu">
                        <ul>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="descripcioPregunta">
                    <div>
                        <h4>Lorem ipsum </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus fugiat est reprehenderit
                            perferendis consequuntur consequatur deleniti? Facere at unde, tempora dolor, maiores in
                            sed, quidem corrupti mollitia odio ratione alias!</p>
                    </div>
                </div>
            </div>
        </div>





    </div>

    <div class="footer">
        <div class="terceraParte">
            <div class="centro">
                <p>© 2021. Todos los derechos reservados</p>

            </div>
        </div>

    </div>


</div>