<div class="contenedor">


    <div class="navbar">
        <div class="izquierda-derecha">
            <div class="izquierda">
                <div class="divLogo">
                    <img class="img-responsive" src="assets/img/brinker.png">
                </div>

            </div>
            <div class="derecha">
                <div id="menu">
                    <input type="checkbox" id="check">
                    <label for="check" class="checkbtn">
                    </label>
                    <ul>
                        <li><a class="selected" routerLink="/">Voy a a Viajar</a></li>
                        <li><a routerLink="/viajes">Voy a viajar, quiero ser Brinker</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="contenido colunma">
        <div class="formularioContacto">
            <div class="formulario">
                <div class="datos">
                    <h2>Formulario</h2>
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Telefono">
                    <input type="email" placeholder="Correo">
                    <input type="text" placeholder="Link de Producto">
                </div>

            </div>
            <div class="carusel">
                <carousel [cellsToShow]="1" [height]="400">
                    <div class="carousel-cell tips">
                        <div class="fondo">
                            <h2>Compra en USA, un BRINKER comprará y traerá tu producto</h2>
                        </div>

                    </div>
                    <div class="carousel-cell tips">
                        <div class="fondo3">
                            <h2> Sin costos ni trámites aduanales</h2>
                        </div>
                    </div>
                    <div class="carousel-cell tips">
                        <div class="fondo2">
                            <h2>Estás protegido de principio a fin. Recibe tu pedido según lo acordado o recupera el
                                100% de tu dinero.</h2>
                        </div>
                    </div>
                </carousel>
            </div>

        </div>


        <div class="divTitulo3">

            <div class="tarjetasPlanes">

                <div class="personal">
                    <h3>Garantía de entrega del producto</h3>
                    <div class="star">
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>

                </div>

                <div class="personal">
                    <h3>Pagos seguros</h3>
                    <div class="star">
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                </div>

                <div class="personal">
                    <h3>Viajeros verificados compran por ti</h3>
                    <div class="star">
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="franja2">
            <h2>Productos más vendidos</h2>
        </div>
        <div class="cuadros2">
            <div style="background-image: url('https://m.media-amazon.com/images/I/71XXJC7V8tL._FMwebp__.jpg');"
                class="cuadro">

                <h3>New Apple iPhone 12 Pro Max (128GB, Graphite)</h3>
            </div>
            <div style="background-image: url('https://images-na.ssl-images-amazon.com/images/I/71zny7BTRlL._AC_SL1500_.jpg');"
                class="cuadro">
                <h3>
                    AirPods Pro de Apple</h3>
            </div>
            <div style="background-image: url('https://images-na.ssl-images-amazon.com/images/I/71bElkQQ7LL._AC_SL1500_.jpg');"
                class="cuadro">

                <h3>Computadora Apple MacBook Pro</h3>

            </div>
            <div style="background-image: url('https://images-na.ssl-images-amazon.com/images/I/713veY5LJSL._AC_SL1000_.jpg');"
                class="cuadro">

                <h3>Kirkland Signature Minoxidil para hombre 5% extra fuerte pelo para hombre, 12 meses de suministro
                </h3>
            </div>
            <div style="background-image: url('https://images-na.ssl-images-amazon.com/images/I/61TYbu1%2BqgL._SL1500_.jpg');"
                class="cuadro">
                <h3>Kirkland Signature - Mantequilla de nueces mix</h3>
            </div>
            <div style="background-image: url('https://images-na.ssl-images-amazon.com/images/I/61wwiGxFwML._AC_SL1082_.jpg');"
                class="cuadro">

                <h3>Tumbas Relief</h3>

            </div>

            <div style="background-image: url('https://images-na.ssl-images-amazon.com/images/I/610OPJMuQ8S._AC_SL1500_.jpg');"
                class="cuadro">
                <h3>Desitin Crema para pañales de bebé de máxima resistencia con 40% óxido de zinc para tratamiento,
                    alivio y prevención</h3>

            </div>
            <div style="background-image: url('https://images-na.ssl-images-amazon.com/images/I/61lHou2GzvL._AC_SL1000_.jpg');"
                class="cuadro">
                <h3>Nuevo Echo Dot (4ta Generación) | Parlante inteligente con reloj y Alexa</h3>

            </div>
            <div style="background-image: url('https://images-na.ssl-images-amazon.com/images/I/91cP26OyYaL._AC_SL1500_.jpg');"
                class="cuadro">
                <h3>
                    Juego de 120 bloques magnéticos 3D para construcción, juguetes con imán para niños, juguetes
                    educativos para niños</h3>

            </div>


        </div>


        <div class="franja2">
            <h2>Opinion de Nuestro Clientes</h2>
        </div>
        <div class="divSlider">
            <div class="carusel">
                <carousel [cellsToShow]="1" [height]="400">
                    <div class="carousel-cell opiniones">
                        <div class="fondo">
                            <p>Compré cosas para mi bebé, llegaron súper rápido y en buen estado. Muchas Gracias</p>
                            <h3>Jackelin G</h3>
                        </div>

                    </div>
                    <div class="carousel-cell opiniones">
                        <div class="fondo2">
                            <p>¡Por fin pude renovar mi IPhone!!! Comprarlo en USA es mucho más barato!</p>
                            <h3>Javier B</h3>
                        </div>
                    </div>
                    <div class="carousel-cell opiniones">
                        <div class="fondo3">
                            <p>¡Compré mis zapatillas especiales para correr que acá no venden!</p>
                            <h3>Evelyne R</h3>
                        </div>
                    </div>
                </carousel>
            </div>
        </div>










        <div class="divParrafo">
            <div class="titulo precio">
                <h1>Preguntas Frecuentes</h1>
            </div>
            <div class="parrafo">
                <div id="menu">
                    <ul>
                        <li class="selected"><a>Generalidades</a></li>
                    </ul>
                </div>
            </div>


            <div class="preguntas">
                <div class="listaPreguntas">
                    <div id="menu">
                        <ul>
                            <li *ngFor="let l of general" id="{{l.id}}"><a id="{{l.id+100}}" (click)="seleccionarPregunta(l.id)" >{{l.pregunta}}</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="descripcioPregunta">
                    <div>
                        <h4>{{tituloSeleccionado}} </h4>
                        <p>{{contenidoSeleccionado}}</p>
                    </div>
                </div>
            </div>
        </div>





    </div>

    <div class="footer">
        <div class="terceraParte">
            <div class="centro">
                <p>© 2021. Todos los derechos reservados</p>

            </div>
        </div>

    </div>


</div>