<div class="contenedor">


    <div class="navbar">
        <div class="izquierda-derecha">
            <div class="derecha">
                <div id="menu">
                    <input type="checkbox" id="check">
                    <label for="check" class="checkbtn">
                    </label>
                    <ul>
                        <li><a class="selected" routerLink="/">Compras</a></li>
                        <li><a routerLink="/viajes">Viajes</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="contenido colunma">
        <div class="formularioContacto">
            <div class="formulario">
                <div class="datos">
                    <h2>Formulario</h2>
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Telefono">
                    <input type="email" placeholder="Correo">
                    <input type="text" placeholder="Link de Producto">
                </div>

            </div>
            <div class="texto">
                <h3>- Compra con nuestra empresa cosas de USA y ahora!!</h3>
                <h3>- Te conectamos con viajeros para que traigan tu pedido</h3>
                <h3>- Recibe tu pedido en 2 semanas</h3>
            </div>

        </div>


        <div class="divTitulo3">

            <div class="tarjetasPlanes">

                <div class="personal">
                    <h3>Garantia de entrega del producto</h3>
                </div>

                <div class="personal">
                    <h3>Pagos seguros</h3>
                </div>

                <div class="personal">
                    <h3>Viajeros verificados comprarn por ti</h3>
                </div>
            </div>
        </div>

        <div class="franja2">
            <h2>Productos</h2>
        </div>
        <div class="cuadros2">
            <div class="cuadro">
                <img class="img-responsive" src="assets/img/Imagen.png">
                <h3>Lorem ipsum dolor sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestiae culpa quo dolores corporis
                    eum velit optio, magnam deserunt ipsum voluptas eius modi, tenetur repellat veritatis ratione saepe
                    neque est!
                </p>
            </div>
            <div class="cuadro">
                <img class="img-responsive" src="assets/img/Imagen.png">
                <h3>Lorem ipsum dolor sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestiae culpa quo dolores corporis
                    eum velit optio, magnam deserunt ipsum voluptas eius modi, tenetur repellat veritatis ratione saepe
                    neque est!
                </p>
            </div>
            <div class="cuadro">
                <img class="img-responsive" src="assets/img/Imagen.png">
                <h3>Lorem ipsum dolor sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestiae culpa quo dolores corporis
                    eum velit optio, magnam deserunt ipsum voluptas eius modi, tenetur repellat veritatis ratione saepe
                    neque est!
                </p>
            </div>
            <div class="cuadro">
                <img class="img-responsive" src="assets/img/Imagen.png">
                <h3>Lorem ipsum dolor sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestiae culpa quo dolores corporis
                    eum velit optio, magnam deserunt ipsum voluptas eius modi, tenetur repellat veritatis ratione saepe
                    neque est!
                </p>
            </div>
            <div class="cuadro">
                <img class="img-responsive" src="assets/img/Imagen.png">
                <h3>Lorem ipsum dolor sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestiae culpa quo dolores corporis
                    eum velit optio, magnam deserunt ipsum voluptas eius modi, tenetur repellat veritatis ratione saepe
                    neque est!
                </p>
            </div>
            <div class="cuadro">
                <img class="img-responsive" src="assets/img/Imagen.png">
                <h3>Lorem ipsum dolor sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestiae culpa quo dolores corporis
                    eum velit optio, magnam deserunt ipsum voluptas eius modi, tenetur repellat veritatis ratione saepe
                    neque est!
                </p>
            </div>


        </div>



        <div class="divSlider">
            <h2>Opiniones de Nuestros Clientes</h2>
            <div id="slider">
                <input type="radio" name="slider" id="slide1" checked>
                <input type="radio" name="slider" id="slide2">
                <input type="radio" name="slider" id="slide3">
                <input type="radio" name="slider" id="slide4">
                <div id="slides">
                    <div id="overflow">
                        <div class="inner">
                            <div class="slide slide_1">
                                <div class="slide-content">
                                    <img class="img-responsive" src="assets/img/user.png">
                                    <p>Me encantó ver, al instante, los clientes y proveedores que están en las listas
                                        negras del SAT. Con docX360 es súper fácil. Raúl Ramo</p>
                                    <p class="autor">Director General
                                    </p>
                                    <p class="autor">Gefrieren S.A.</p>
                                </div>
                            </div>
                            <div class="slide slide_2">
                                <div class="slide-content">
                                    <img class="img-responsive" src="assets/img/user.png">
                                    <p>Ahora tengo una película mucho mas clara y en Fempo real de las empresas que
                                        administro. Con docX360 ubico cualquier diferencia o discrepancia en los
                                        ingresos y egresos. Incluso se, cuanto traemos en cuentas X cobrar y pagar.</p>
                                    <p class="autor">Javier Marinez
                                    </p>
                                    <p class="autor">CP Suministros</p>
                                </div>
                            </div>
                            <div class="slide slide_3">
                                <div class="slide-content">
                                    <img class="img-responsive" src="assets/img/user.png">
                                    <p>Todos decimos conocer nuestra operación, hasta que aparece una invitación en
                                        nuestro buzón del SAT. Con docX360 realmente tengo el control; puedo tomar
                                        decisiones al instante. El año pasado pude planear el cierre fiscal a mi favor.
                                    </p>
                                    <p class="autor">Maru Munguía
                                    </p>
                                    <p class="autor">CEO TechBoard SAS</p>
                                </div>
                            </div>
                            <div class="slide slide_4">
                                <div class="slide-content">
                                    <img class="img-responsive" src="assets/img/user.png">
                                    <p>Un reporte que tomaba semanas, para presupuestar nuestro gasto nominal, hoy lo
                                        obtengo de inmediato con docX360.</p>
                                    <p class="autor">Lilia Flores
                                    </p>
                                    <p class="autor">
                                        Nómina SHF
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="controls">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                </div>
                <div id="bullets">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                </div>
            </div>
        </div>










        <div class="divParrafo">
            <div class="titulo precio">
                <h1>Preguntas Frecuentes</h1>
            </div>
            <div class="parrafo">
                <div id="menu">
                    <ul>
                        <li class="selected"><a>Generalidades</a></li>
                    </ul>
                </div>
            </div>


            <div class="preguntas">
                <div class="listaPreguntas">
                    <div id="menu">
                        <ul>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="descripcioPregunta">
                    <div>
                        <h4>Lorem ipsum </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus fugiat est reprehenderit
                            perferendis consequuntur consequatur deleniti? Facere at unde, tempora dolor, maiores in
                            sed, quidem corrupti mollitia odio ratione alias!</p>
                    </div>
                </div>
            </div>
        </div>





    </div>

    <div class="footer">
        <div class="terceraParte">
            <div class="centro">
                <p>© 2021. Todos los derechos reservados</p>

            </div>
        </div>

    </div>


</div>