<div class="contenedor">


    <div class="navbar">
        <div class="izquierda-derecha">
            <div class="derecha">
                <div id="menu">
                    <input type="checkbox" id="check">
                    <label for="check" class="checkbtn">
                    </label>
                    <ul>
                        <li><a class="selected" routerLink="/">Compras</a></li>
                        <li><a routerLink="/viajes">Viajes</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="contenido colunma">
        <div class="formularioContacto">
            <div class="formulario">
                <div class="datos">
                    <h2>Formulario</h2>
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Telefono">
                    <input type="email" placeholder="Correo">
                    <input type="text" placeholder="Link de Producto">
                </div>

            </div>
            <div class="carusel">
                <carousel [cellsToShow]="1" [height]="400">
                    <div class="carousel-cell tips">
                        <div class="fondo">
                            <h2>Compra con nuestra empresa cosas de USA y ahora!!</h2>
                        </div>

                    </div>
                    <div class="carousel-cell tips">
                        <div class="fondo2">
                            <h2>Te conectamos con viajeros para que traigan tu pedido</h2>
                        </div>
                    </div>
                    <div class="carousel-cell tips">
                        <div class="fondo3">
                            <h2> Recibe tu pedido en 2 semanas</h2>
                        </div>
                    </div>
                </carousel>
            </div>

        </div>


        <div class="divTitulo3">

            <div class="tarjetasPlanes">

                <div class="personal">
                    <h3>Garantia de entrega del producto</h3>
                    <div class="star">
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>

                </div>

                <div class="personal">
                    <h3>Pagos seguros</h3>
                    <div class="star">
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                </div>

                <div class="personal">
                    <h3>Viajeros verificados compran por ti</h3>
                    <div class="star">
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="franja2">
            <h2>Productos</h2>
        </div>
        <div class="cuadros2">
            <div class="cuadro">
                <img class="img-responsive" src="assets/img/Imagen.png">
                <h3>Lorem ipsum dolor sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestiae culpa quo dolores corporis
                    eum velit optio, magnam deserunt ipsum voluptas eius modi, tenetur repellat veritatis ratione saepe
                    neque est!
                </p>
            </div>
            <div class="cuadro">
                <img class="img-responsive" src="assets/img/Imagen.png">
                <h3>Lorem ipsum dolor sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestiae culpa quo dolores corporis
                    eum velit optio, magnam deserunt ipsum voluptas eius modi, tenetur repellat veritatis ratione saepe
                    neque est!
                </p>
            </div>
            <div class="cuadro">
                <img class="img-responsive" src="assets/img/Imagen.png">
                <h3>Lorem ipsum dolor sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestiae culpa quo dolores corporis
                    eum velit optio, magnam deserunt ipsum voluptas eius modi, tenetur repellat veritatis ratione saepe
                    neque est!
                </p>
            </div>
            <div class="cuadro">
                <img class="img-responsive" src="assets/img/Imagen.png">
                <h3>Lorem ipsum dolor sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestiae culpa quo dolores corporis
                    eum velit optio, magnam deserunt ipsum voluptas eius modi, tenetur repellat veritatis ratione saepe
                    neque est!
                </p>
            </div>
            <div class="cuadro">
                <img class="img-responsive" src="assets/img/Imagen.png">
                <h3>Lorem ipsum dolor sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestiae culpa quo dolores corporis
                    eum velit optio, magnam deserunt ipsum voluptas eius modi, tenetur repellat veritatis ratione saepe
                    neque est!
                </p>
            </div>
            <div class="cuadro">
                <img class="img-responsive" src="assets/img/Imagen.png">
                <h3>Lorem ipsum dolor sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestiae culpa quo dolores corporis
                    eum velit optio, magnam deserunt ipsum voluptas eius modi, tenetur repellat veritatis ratione saepe
                    neque est!
                </p>
            </div>

            <div class="cuadro">
                <img class="img-responsive" src="assets/img/Imagen.png">
                <h3>Lorem ipsum dolor sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestiae culpa quo dolores corporis
                    eum velit optio, magnam deserunt ipsum voluptas eius modi, tenetur repellat veritatis ratione saepe
                    neque est!
                </p>
            </div>
            <div class="cuadro">
                <img class="img-responsive" src="assets/img/Imagen.png">
                <h3>Lorem ipsum dolor sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestiae culpa quo dolores corporis
                    eum velit optio, magnam deserunt ipsum voluptas eius modi, tenetur repellat veritatis ratione saepe
                    neque est!
                </p>
            </div>
            <div class="cuadro">
                <img class="img-responsive" src="assets/img/Imagen.png">
                <h3>Lorem ipsum dolor sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestiae culpa quo dolores corporis
                    eum velit optio, magnam deserunt ipsum voluptas eius modi, tenetur repellat veritatis ratione saepe
                    neque est!
                </p>
            </div>


        </div>


        <div class="franja2">
            <h2>Opinion de Nuestro Clientes</h2>
        </div>
        <div class="divSlider">
            <div class="carusel">
                <carousel [cellsToShow]="1" [height]="400">
                    <div class="carousel-cell opiniones">
                        <div class="fondo">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, rerum perferendis!
                                Dolores eaque vel consequatur soluta deserunt eos deleniti, ut asperiores? Pariatur
                                nostrum quasi, quam optio nesciunt totam repellat quas!</p>
                            <h3>Lorem ipsum</h3>
                        </div>

                    </div>
                    <div class="carousel-cell opiniones">
                        <div class="fondo2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, rerum perferendis!
                                Dolores eaque vel consequatur soluta deserunt eos deleniti, ut asperiores? Pariatur
                                nostrum quasi, quam optio nesciunt totam repellat quas!</p>
                            <h3>Lorem ipsum</h3>
                        </div>
                    </div>
                    <div class="carousel-cell opiniones">
                        <div class="fondo3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, rerum perferendis!
                                Dolores eaque vel consequatur soluta deserunt eos deleniti, ut asperiores? Pariatur
                                nostrum quasi, quam optio nesciunt totam repellat quas!</p>
                            <h3>Lorem ipsum</h3>
                        </div>
                    </div>
                </carousel>
            </div>
        </div>










        <div class="divParrafo">
            <div class="titulo precio">
                <h1>Preguntas Frecuentes</h1>
            </div>
            <div class="parrafo">
                <div id="menu">
                    <ul>
                        <li class="selected"><a>Generalidades</a></li>
                    </ul>
                </div>
            </div>


            <div class="preguntas">
                <div class="listaPreguntas">
                    <div id="menu">
                        <ul>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="descripcioPregunta">
                    <div>
                        <h4>Lorem ipsum </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus fugiat est reprehenderit
                            perferendis consequuntur consequatur deleniti? Facere at unde, tempora dolor, maiores in
                            sed, quidem corrupti mollitia odio ratione alias!</p>
                    </div>
                </div>
            </div>
        </div>





    </div>

    <div class="footer">
        <div class="terceraParte">
            <div class="centro">
                <p>© 2021. Todos los derechos reservados</p>

            </div>
        </div>

    </div>


</div>